.navlink{
  padding: 10px;
  color: black;
  text-decoration: none;
}

.navlink:hover{
  text-decoration: underline;
}

#searchProduct{
  float: right;
  padding-right: 75px;
}

.appHeader{
  color: firebrick;
}

.appTitle{
  padding-left: 2em;
  color: darkslategray;
}

aside{
  display: inline-flex;
  flex-direction: column;
  background-color: darkslategray;
  width: 150px;
  height: 100vh;
  float: left;
}

.productList{
  color: white;
  text-decoration: none;
  padding: 2em 10px 2em 10px;
  margin: 5px 5px 5px 5px;
}

.productList:hover{
  text-decoration: underline;
}

.productDisplay{
  display: inline-flex;
  width: 20em;
  height: 15em;
  border: solid black 2px;
  padding: 10px;
  margin: 10px;
  box-shadow: gray 2px 2px 2px 2px;
}

.productDisplay:hover{
  scale: 1.1;
}

.productLink{
    display: inline-flex;
    width: 15em;
    height: 10em;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    color: black;
}

.productDetail{
  height: 100px;
}

.productImage{
  height: 200px;
  width: 200px;
}

.navBtn{
  margin-left: 10px;
}

.priceTag{
  font-size: large;
  font-weight: bold;
}

.goBackButton{
  float: left;
}

.dropdown-toggle{
  color: white;
}

.dropdown-toggle:hover{
  text-decoration: underline;
}

#returnBtn{
  float: right;
}